body {
  background-color: #0a0a0a;
}

.section {
  width: 100%;
  height: 100%;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu li {
  display: inline-block;
}
.parallax {
    background-image: url("../img/greener.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallaxDeux {
    background-image: url("../img/1337_.png");
    height: 100%;
    width: 100%;
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallaxTrois {
    height: 100%;
    width: 100%;
}


.circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url("../img/stack.png") no-repeat;
	}


#jumboThingy {
  -webkit-box-shadow: 2px 6px 17px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 6px 17px -1px rgba(0,0,0,0.75);
  box-shadow: 2px 6px 17px -1px rgba(0,0,0,0.75);
}

.shadow {
  -webkit-box-shadow: 2px 6px 17px -1px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 2px 6px 17px -1px rgba(0,0,0,0.75) !important;
  box-shadow: 2px 6px 17px -1px rgba(0,0,0,0.75) !important;
}

.icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  background-size: 100px 4800px;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 20px;
  background-color: white;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: icon-animate 1.7s steps(47) infinite;
  /*-webkit-animation: fadeInDown 1.7s steps(47) 1;*/
  -moz-animation: icon-animate 1.7s steps(47) infinite;
  /*-moz-animation: fadeInDown 1.7s steps(47) 1;*/
  animation: icon-animate 1.7s steps(47) infinite;
  /*animation: fadeInDown 1.7s steps(47) 1;*/
 }

    .icon.cogs {
  background-image: url("../img/cogs.png"); }

  @-webkit-keyframes icon-animate {
    from {
      background-position: center top; }

    to {
      background-position: center -4700px; } }

  @-moz-keyframes icon-animate {
    from {
      background-position: center top; }

    to {
      background-position: center -4700px; } }

  @keyframes icon-animate {
    from {
      background-position: center top; }

    to {
      background-position: center -4700px; } }



#jumboThingy {
  height: 400px;
}

#stack_img {
  -webkit-animation-duration: 1s;
  /*-webkit-animation: slideInUp 1.2s;
  -moz-animation:    slideInUp 1.2s;
  -o-animation:      slideInUp 1.2s;
  animation:         slideInUp 1.2s;*/
}

#stack_img {
  -webkit-animation-duration: 1s;
  /*-webkit-animation: slideInUp 1.2s;
  -moz-animation:    slideInUp 1.2s;
  -o-animation:      slideInUp 1.2s;
  animation:         slideInUp 1.2s;*/
}

.and_then {
  -webkit-animation-duration: 0.1s;

}


#infobox {
  /*height: 670px;*/
  /*min-height: 500px;*/
}

.achievement.ng-enter{
    -webkit-transition:all linear 0.5s;
    transition: all linear 0.5s ;
    opacity:0;
}

.achievement.ng-enter-stagger{
    -webkit-transition-delay:1s;
    transition-delay:1s;

    -webkit-transition-duration:0s;
    transition-duration:0s;
}

.achievement.ng-enter.ng-enter-active{
    opacity:1;
}



#description::-webkit-scrollbar-thumb{
background-color:#6b7d75;
border-radius:10px;
height: 10px;
}
#description::-webkit-scrollbar-thumb:hover{
background-color:#658a79;
border:1px solid #333333;
}
#description::-webkit-scrollbar-thumb:active{
background-color:#5b7a6d;
border:1px solid #333333;
}


#description::-webkit-scrollbar{
width:10px;
background-color:#373636;
}

#description {
	/*max-height: 320px;*/
	max-height: 54vh;
	/*min-height: 320px;*/
	min-height: 54vh;
	overflow: auto;
}

#imgs {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
